html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Helvetica Neue', 'Arial';
	font-size: 16px;
	color: #333;
}

#outer {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 5em 1em 1em 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1 {
	position: absolute;
	left: 1em;
	top: 1em;
	margin: 0;
}

#inner {
	position: relative;
	width: 100%;
	height: 100%;
}

.hidden {
	display: none;
}

.divvy-inner {
	padding: 0.5em;
	box-shadow: inset 1px 1px 4px rgba(0,0,0,0.3);
}